<div class="header">
  HEADER BODY
</div>
<div class="main">
  <table class="table table-hover">
    <thead>
      <tr>
        <th i18n>Type</th>
        <th i18n>Model</th>
        <th i18n>Manufacturer code</th>
        <th i18n>Operation system</th>
        <th i18n>Gaming laptop</th>
        <th i18n>Release year</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData">
        <td>{{ item.typeC }}</td>
        <td>{{ item.model }}</td>
        <td>{{ item.manufacturerCode }}</td>
        <td>{{ item.os }}</td>
        <td>{{ item.gaming | yesNo }}</td>
        <td>{{ item.releaseYear | date: 'y' }}</td>
      </tr>
    </tbody>
  </table>
</div>
