<div class="header">
  HEADER BODY
</div>
<div class="main">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Тип</th>
        <th>Модель</th>
        <th>Код производителя</th>
        <th>Операционная система</th>
        <th>Игровой ноутбук</th>
        <th>Год релиза</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listData">
        <td>{{ item.typeC }}</td>
        <td>{{ item.model }}</td>
        <td>{{ item.manufacturerCode }}</td>
        <td>{{ item.os }}</td>
        <td>{{ item.gaming ? 'Да' : 'Нет' }}</td>
        <td>{{ item.releaseYear | date: 'y' }}</td>
      </tr>
    </tbody>
  </table>
</div>
